<h2>Here are dealer cards(<%= (dealer.turn) ? dealer.points : dealer.first_card_points %>)</h2>

	<% if dealer.turn %>
		<% dealer.cards.each do |card| %>
			<%= string_rank(card[0]) %><%= card[1] %><br>
		<% end %>
	<% else %>
		<%= string_rank(dealer.cards[0][0]) %><%= dealer.cards[0][1] %><br>
	<% end %>

<h2>Here are player cards(<%= player.points %>)</h2>

	<% player.cards.each do |card| %>
		<%= string_rank(card[0]) %><%= card[1] %><br>
	<% end %>

<br><br><br><br>

<% unless finished %>

	<form action="/blackjack/hit" method="post">

		<% if player.blackjacked %>	
	    	<input type="submit" value="HIT" disabled/>
		<% else %>
			<input type="submit" value="HIT"/>
		<% end %>

	</form>

	<form action="/blackjack/stay" method="get">
    	<input type="submit" value="STAY" />
	</form>

<% else %>

	<h3><%= find_winner(player.points, dealer.points) %><h3><br>
	<a href="/">Play Again</a>

<% end %>